azure-core
azure-iot-device
azure-iot-hub
certifi
charset-normalizer
deprecation
idna
isodate
janus
msrest
oauthlib
packaging
paho-mqtt
pyparsing
PySocks
requests
requests-oauthlib
requests-unixsocket
six
uamqp
urllib3
